{% assign sum = site.posts | size %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navbar-row">
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">ALL ({{sum}})  </a>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/dml/dls/' or page.url == '/dml/ml/' or page.url == '/dml/tf/' or page.url == '/dml/topics/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('dml-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-vexpanded="false">
                    DL/ML
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dml-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "dml-dls" %}
                        {% assign dls_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "dml-ml" %}
                        {% assign ml_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "dml-tsf" %}
                        {% assign tsf_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "dml-topics" %}
                        {% assign topics_sum = category[1].size %}
                    {% endif %}                                   
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/dml/dls" | prepend: site.baseurl }}">Deep Learning Specialization ({{dls_sum}}) </a>
                    <a class="dropdown-item" href="{{ "/dml/ml" | prepend: site.baseurl }}">Machine Learning ({{ml_sum}})</a>
                    <a class="dropdown-item" href="{{ "/dml/tsf" | prepend: site.baseurl }}">TensorFlow ({{tsf_sum}})</a>
                    <a class="dropdown-item" href="{{ "/dml/topics" | prepend: site.baseurl }}">Related Topics ({{topics_sum}})</a>
                </div>
            </li>


            <li class="nav-item dropdown
            {% if page.url == '/physics/cm/' or page.url == '/physics/srt/' or page.url == '/physics/em/' or  page.url == '/physics/qm/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('physics-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    PHYSICS

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="physics-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "physics-cm" %}
                        {% assign cm_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "physics-srt" %}
                        {% assign srt_sum = category[1].size %}
                    {% endif %}     
                    {% if category[0] == "physics-em" %}
                        {% assign em_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "physics-qm" %}
                        {% assign qm_sum = category[1].size %}
                    {% endif %}                               
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/physics/cm/" | prepend: site.baseurl }}">Classical Mechanics ({{cm_sum}})</a>                    
                    <a class="dropdown-item" href="{{ "/physics/srt/" | prepend: site.baseurl }}">Special Relativity ({{srt_sum}})</a>
                    <a class="dropdown-item" href="{{ "/physics/em/" | prepend: site.baseurl }}">Electromagnetism ({{em_sum}})</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="{{ "/physics/qm/" | prepend: site.baseurl }}">Quantum Mechanics ({{qm_sum}})</a> -->
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/python/algo/' or page.url == '/python/crawling/' or page.url == '/python/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('python-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Python
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="python-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "python-algo" %}
                        {% assign algo_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "python-crwl" %}
                        {% assign crwl_sum = category[1].size %}
                    {% endif %}     
                    {% if category[0] == "python-etc" %}
                        {% assign etc_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/python/algo" | prepend: site.baseurl }}">Algorithms ({{algo_sum}})</a>
                    <a class="dropdown-item" href="{{ "/python/crwl" | prepend: site.baseurl }}">Crawling ({{crwl_sum}})</a>
                    <!-- <a class="dropdown-item" href="{{ "/python/etc" | prepend: site.baseurl }}">ETC ({{etc_sum}})</a> -->
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/math/vcalc/' or page.url == '/math/linalgb/' or page.url == '/math/matlab/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('c-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    MATH
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="c-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "math-vcalc" %}
                        {% assign vcalc_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "math-linalgb" %}
                        {% assign linalgb_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "math-matlab" %}
                        {% assign matlab_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/math/vcalc" | prepend: site.baseurl }}">Vector Calculus ({{vcalc_sum}})</a>
                    <a class="dropdown-item" href="{{ "/math/linalgb" | prepend: site.baseurl }}">Linear Algebra ({{linalgb_sum}})</a>
                    <a class="dropdown-item" href="{{ "/math/matlab" | prepend: site.baseurl }}">Matlab ({{matlab_sum}})</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/de/docker/' or page.url == '/de/hadoop/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('de-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    DATA-ENGINEERING
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="de-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "de-docker" %}
                        {% assign docker_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "de-hadoop" %}
                        {% assign hadoop_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <!-- <a class="dropdown-item" href="{{ "/de/docker" | prepend: site.baseurl }}">Docker ({{docker_sum}})</a> -->
                    <a class="dropdown-item" href="{{ "/de/hadoop" | prepend: site.baseurl }}">Hadoop Ecosystem({{hadoop_sum}})</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/github/blogdev/' or page.url == '/github/git/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('github-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                   GIT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="github-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "github-blogdev" %}
                        {% assign blog_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "github-git" %}
                        {% assign git_sum = category[1].size %}
                    {% endif %}                                  
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/github/blogdev" | prepend: site.baseurl }}">Blog Dev ({{blog_sum}})</a>
                    <a class="dropdown-item" href="{{ "/github/git" | prepend: site.baseurl }}">Git ({{git_sum}})</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/etc/ns/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('etc-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    ETC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="etc-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "etc-ns" %}
                        {% assign ns_sum = category[1].size %}
                    {% endif %}
                     <!-- {% if category[0] == "github-git" %}
                        {% assign git_sum = category[1].size %}
                    {% endif %}                                   -->
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/etc/ns" | prepend: site.baseurl }}">Neuroscience ({{ns_sum}})</a>
                    <!-- <a class="dropdown-item" href="{{ "/de/hadoop" | prepend: site.baseurl }}">Database</a> -->
                </div>
            </li>
  

            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>           
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"></a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> Search  </a>
            </li>

            <form action="/search">
                <div class="tipue_search_left">
                  <img class="tipue_search_icon">
                </div>
                <div class="tipue_search_right">
                  <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
                <div style="clear: both;"></div>
            </form>

        </ul>
    </div>
</nav>
<script>
    function clickDropdown(dropdown_id) { // TODO : Refactoring, It have to be recycling to other elements.
        var x = document.getElementById(dropdown_id);
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
