{% assign sum = site.posts | size %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navbar-row">
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">ALL ({{sum}})  </a>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/dl/dls/' or page.url == '/dl/tf/' or page.url == '/dl/topics/' or page.url == '/dl/cs231n/' or page.url == '/dl/sss/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('dl-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-vexpanded="false">
                    DL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dl-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "dl-dls" %}
                        {% assign dls_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "dl-tsf" %}
                        {% assign tsf_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "dl-cs231n" %}
                        {% assign cs231n_sum = category[1].size %}
                    {% endif %}   
                    {% if category[0] == "dl-sss" %}
                        {% assign sss_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/dl/dls" | prepend: site.baseurl }}">Deep Learning Specialization ({{dls_sum}}) </a>
                    <a class="dropdown-item" href="{{ "/dl/tsf" | prepend: site.baseurl }}">TensorFlow ({{tsf_sum}})</a>
                    <a class="dropdown-item" href="{{ "/dl/cs231n" | prepend: site.baseurl }}">cs231n (Stanford) ({{cs231n_sum}})</a>
                    <a class="dropdown-item" href="{{ "/dl/sss" | prepend: site.baseurl }}">Signals & Systems ({{sss_sum}})</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/papers/transformer/' or page.url == '/papers/cv/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('paper-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-vexpanded="false">
                    PAPERS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="paper-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "papers-transformer" %}
                        {% assign transformer_sum = category[1].size %}
                    {% endif %}   
                    {% if category[0] == "papers-cv" %}
                        {% assign cv_sum = category[1].size %}
                    {% endif %}                                 
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/papers/cv" | prepend: site.baseurl }}">Computer Vision ({{cv_sum}})</a>
                    <a class="dropdown-item" href="{{ "/papers/transformer" | prepend: site.baseurl }}">Transformer ({{transformer_sum}})</a>
                </div>
            </li>


            <li class="nav-item dropdown
            {% if page.url == '/ml/cs229/' or page.url == '/ml/opt/' or page.url == 'ml/inform' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('ml-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-vexpanded="false">
                    ML
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="ml-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "ml-cs229" %}
                        {% assign cs229_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "ml-opt" %}
                        {% assign opt_sum = category[1].size %}
                    {% endif %} 
                    {% if category[0] == "ml-inform" %}
                        {% assign inform_sum = category[1].size %}
                    {% endif %}                                   
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/ml/cs229" | prepend: site.baseurl }}">CS229 ({{cs229_sum}})</a>
                    <a class="dropdown-item" href="{{ "/ml/opt" | prepend: site.baseurl }}">Optimization ({{opt_sum}})</a>
                    <a class="dropdown-item" href="{{ "/ml/inform" | prepend: site.baseurl }}">Information Theory ({{inform_sum}})</a>
                </div>
            </li>


            <li class="nav-item dropdown
            {% if page.url == '/physics/cm/' or page.url == '/physics/srt/' or page.url == '/physics/em/' or  page.url == '/physics/qm/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('physics-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    PHYSICS

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="physics-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "physics-cm" %}
                        {% assign cm_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "physics-srt" %}
                        {% assign srt_sum = category[1].size %}
                    {% endif %}     
                    {% if category[0] == "physics-em" %}
                        {% assign em_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "physics-qm" %}
                        {% assign qm_sum = category[1].size %}
                    {% endif %}                               
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/physics/cm/" | prepend: site.baseurl }}">Classical Mechanics ({{cm_sum}})</a>                    
                    <a class="dropdown-item" href="{{ "/physics/srt/" | prepend: site.baseurl }}">Special Relativity ({{srt_sum}})</a>
                    <a class="dropdown-item" href="{{ "/physics/em/" | prepend: site.baseurl }}">Electromagnetism ({{em_sum}})</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="{{ "/physics/qm/" | prepend: site.baseurl }}">Quantum Mechanics ({{qm_sum}})</a> -->
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/python/algo/' or page.url == '/python/crawling/' or page.url == '/python/etc/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('python-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    PYTHON
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="python-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "python-algo" %}
                        {% assign algo_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "python-crwl" %}
                        {% assign crwl_sum = category[1].size %}
                    {% endif %}     
                    {% if category[0] == "python-etc" %}
                        {% assign etc_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/python/algo" | prepend: site.baseurl }}">Algorithms ({{algo_sum}})</a>
                    <a class="dropdown-item" href="{{ "/python/crwl" | prepend: site.baseurl }}">Crawling ({{crwl_sum}})</a>
                    <!-- <a class="dropdown-item" href="{{ "/python/etc" | prepend: site.baseurl }}">ETC ({{etc_sum}})</a> -->
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/math/vcalc/' or page.url == '/math/mvarcalc/' or page.url == '/math/linalgb/' or page.url == '/math/matlab/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('math-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    MATH
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="math-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "math-vcalc" %}
                        {% assign vcalc_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "math-linalgb" %}
                        {% assign linalgb_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "math-matlab" %}
                        {% assign matlab_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "math-mvarcalc" %}
                        {% assign mvarcalc_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/math/vcalc" | prepend: site.baseurl }}">Vector Calculus ({{vcalc_sum}})</a>
                    <a class="dropdown-item" href="{{ "/math/mvarcalc" | prepend: site.baseurl }}">Multivariate Calculus ({{mvarcalc_sum}})</a>
                    <a class="dropdown-item" href="{{ "/math/linalgb" | prepend: site.baseurl }}">Linear Algebra ({{linalgb_sum}})</a>
                    <a class="dropdown-item" href="{{ "/math/matlab" | prepend: site.baseurl }}">Matlab ({{matlab_sum}})</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/stats/topics/' or page.url == '/stats/18650/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('stats-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    STATISTICS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="stats-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "stats-topics" %}
                        {% assign topics_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "stats-18650" %}
                        {% assign 18650_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/stats/topics" | prepend: site.baseurl }}">Various Topics ({{topics_sum}})</a>
                    <a class="dropdown-item" href="{{ "/stats/18650" | prepend: site.baseurl }}">Statistics for Application (MIT 18.650) ({{18650_sum}})</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/de/docker/' or page.url == '/de/hadoop/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('de-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    DATA-ENGINEERING
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="de-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "de-docker" %}
                        {% assign docker_sum = category[1].size %}
                    {% endif %}
                    {% if category[0] == "de-hadoop" %}
                        {% assign hadoop_sum = category[1].size %}
                    {% endif %}
                    {% endfor %}
                    <!-- <a class="dropdown-item" href="{{ "/de/docker" | prepend: site.baseurl }}">Docker ({{docker_sum}})</a> -->
                    <a class="dropdown-item" href="{{ "/de/hadoop" | prepend: site.baseurl }}">Hadoop Ecosystem({{hadoop_sum}})</a>
                </div>
            </li>

            <!-- <li class="nav-item dropdown
            {% if page.url == '/github/blogdev/' or page.url == '/github/git/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('github-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                   GIT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="github-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "github-blogdev" %}
                        {% assign blog_sum = category[1].size %}
                    {% endif %}
                     {% if category[0] == "github-git" %}
                        {% assign git_sum = category[1].size %}
                    {% endif %}                                  
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/github/blogdev" | prepend: site.baseurl }}">Blog Dev ({{blog_sum}})</a>
                    <a class="dropdown-item" href="{{ "/github/git" | prepend: site.baseurl }}">Git ({{git_sum}})</a>
                </div>
            </li> -->

            <li class="nav-item dropdown
            {% if page.url == '/etc/ns/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('etc-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    ETC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="etc-dropdown">
                    {% for category in site.categories %}
                    {% if category[0] == "etc-ns" %}
                        {% assign ns_sum = category[1].size %}
                    {% endif %}
                     <!-- {% if category[0] == "github-git" %}
                        {% assign git_sum = category[1].size %}
                    {% endif %}                                   -->
                    {% endfor %}
                    <a class="dropdown-item" href="{{ "/etc/ns" | prepend: site.baseurl }}">Neuroscience ({{ns_sum}})</a>
                    <!-- <a class="dropdown-item" href="{{ "/de/hadoop" | prepend: site.baseurl }}">Database</a> -->
                </div>
            </li>
            
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li> 
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>    
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>     
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>    
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>  
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>  
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li> 

            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" style="color:rgb(5,94,94)"> SEARCH  </a>
            </li>
            <form action="/search">
                <div class="tipue_search_left">
                  <img class="tipue_search_icon">
                </div>
                <div class="tipue_search_right">
                  <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
                <div style="clear: both;"></div>
            </form>

            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link"> </a>
            </li>  
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" style="color: rgb(5, 94, 94);" href="{{ "/tags/" | prepend: site.baseurl }}"> TAGS </a>
            </li> 

        </ul>
    </div>
</nav>
<script>
    function clickDropdown(dropdown_id) { // TODO : Refactoring, It have to be recycling to other elements.
        var x = document.getElementById(dropdown_id);
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
