{% if paginator.total_pages > 1 %}
<div class="center">
  <div class="container">
    <nav pagination class="pagination" role="pagination">
      {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' | replace: '//', '/' | relative_url %}
      <ul list-style:none;>
        {% comment %} Link for previous page {% endcomment %}
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          {% else %}
            <a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left"s></i></a>
          {% endif %}
        {% else %}
        
          <li float: left;><a href="#" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_previous | default: "Start" }}</span></a></li>
        {% endif %}

        {% comment %} First page {% endcomment %}
        {% if paginator.page == 1 %}
          <li><a href="#" class="disabled current">1</a></li>
        {% else %}
          <li><a class="newer-posts" href="{{ site.baseurl }}/">1</a></li>
        {% endif %}

        {% assign page_start = 2 %}
        {% if paginator.page > 4 %}
          {% assign page_start = paginator.page | minus: 2 %}
          {% comment %} Ellipsis for truncated links {% endcomment %}
          <li float: left;><a href="#" class="disabled">&hellip;</a></li>
        {% endif %}

        {% assign page_end = paginator.total_pages | minus: 1 %}
        {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
        {% if pages_to_end > 4 %}
          {% assign page_end = paginator.page | plus: 2 %}
        {% endif %}

        {% for index in (page_start..page_end) %}
          {% if index == paginator.page %}
            <li float: left;><a href="{{ site.paginate_path | replace: ':num', index | replace: '//', '/' | relative_url }}" class="disabled current">{{ index }}</a></li>
          {% else %}
            {% comment %} Distance from current page and this link {% endcomment %}
            {% assign dist = paginator.page | minus: index %}
            {% if dist < 0 %}
              {% comment %} Distance must be a positive value {% endcomment %}
              {% assign dist = 0 | minus: dist %}
            {% endif %}
            <li float: left;><a href="{{ site.paginate_path | replace: ':num', index | relative_url }}">{{ index }}</a></li>
          {% endif %}
        {% endfor %}

        {% comment %} Ellipsis for truncated links {% endcomment %}
        {% if pages_to_end > 3 %}
          <li float: left;><a href="#" class="disabled">&hellip;</a></li>
        {% endif %}

        {% if paginator.page == paginator.total_pages %}
          <li float: left;><a href="#" class="disabled current">{{ paginator.page }}</a></li>
        {% else %}
          <li float: left;><a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | replace: '//', '/' | relative_url }}">{{ paginator.total_pages }}</a></li>
        {% endif %}

        {% comment %} Link next page {% endcomment %}
        {% if paginator.next_page %}
          <a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right"></i></a>
        {% else %}
          <li float: left;><a href="#" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_next | default: "End" }}</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div> 
</div>


<!-- <div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% else %}
        <p><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></p>
        {% endif %}
      {% endif %}

      {% if paginator.total_pages > 1 %}
      <p><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></p>
      {% endif %}
      
      {% if paginator.next_page %}
      <p><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
      {% endif %}
    </ul>
  </nav>
</div> -->

